---
import Layout from '@/layouts/Layout.astro';
import Hero from "@/components/hero.tsx"
import Footer from "@/components/footer.tsx"
import Featured from "@/components/featured.astro"
import { Button } from '@/components/ui/button';
import { MoveUpRight } from 'lucide-react';
import { Image } from "astro:assets";
import KeyOne from "@/assets/keyboard-one.jpg"
---

<Layout>
    <main>
        <Hero client:load/>
        <Featured/>
        <div class="flex flex-col lg:flex-row mb-1">
            <div class="relative min-h-[20rem] lg:maw-w-xl border border-zinc-500 p-5">
                <Image width={1200} height={900} src={KeyOne} alt={"index page image"} class={"h-[36rem] relative mx-auto z-10 w-full object-cover"}/>
                <div class="z-20 absolute top-[60%] left-[10%] flex flex-col space-y-3">
                    <span>
                        <h1 class="text-[60px] font-extrabold">DLX keyboards</h1>
                        <h3 class="text-foreground/90 font-light">Check out our new DLX keyboards</h3>
                    </span>
                    <span class="flex items-center">
                        <Button>
                            Shop DLX
                            <MoveUpRight/>
                        </Button>
                    </span>
                </div>
            </div>
            <div class="relative min-h-[20rem] flex-1 bg-gary-300 border border-zinc-500 p-5">
                <img src={"https://massdrop-s3.imgix.net/marketingContent/bAMFiIOFQyWZyr2l2kYg_X5XnpYMhSXqPMkqexjOs_standard_wh.jpg?auto=format&fm=jpg&fit=crop&q=70&dpr=1"} alt={"index page image"} class={"relative mx-auto h-[36rem] z-10 w-full object-cover object-bottom lg:object-center"}/>
                <div class="z-20 absolute bottom-[6%] left-[6%] xl:left-[2%] flex flex-col space-y-3">
                    <span class="">
                        <h1 class="text-[60px] font-extrabold drop-shadow-3xl ">DLX Collection</h1>
                        <h3 class=" font-light">Check out our new DLX keyboards</h3>
                    </span>
                    <span class="flex items-center">
                        <Button>
                            Checkout Collection
                        </Button>
                    </span>
                </div>
            </div>
        </div>
<Footer/>
    </main>
</Layout>
