---
import '@/styles/globals.css'
import Nav from "@/components/nav.tsx"
import { Toaster } from '@/components/ui/sonner'
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Headers</title>
	</head>
	<body class="max-w-full relative">
        <Nav client:load/>
		<slot />
        <Toaster client:load/>
	</body>
</html>

